* {
    box-sizing: border-box;
}

:root {
    --site-width: 60rem;
    --deep-color: #0A0227;
    --surface-color: #160b36;
    --raised-color: #1E1250;
    --disabled-color: #5B6899;
    --analogous-color: #A6B1E1;
    --highlight-color: #DCE1F5;
    --whisper-color: #ECEFFE;
    --harsh-color: #E63946;
    --main-padding: 1rem;
    --main-font: "Nunito", sans-serif;
    --main-font-weight: 600;
    --main-border-radius: 0.7rem;
    --child-border-radius: 0.3rem;
    --nav-box-shadow: 17px 10px 20px 0px rgba(0, 0, 0, 0.1);
    --nav-toggle-transition: left 0.3s cubic-bezier(.35,1,.35,1);
}   

body {
    color-scheme: dark;
    background-color: var(--deep-color);
    color: var(--whisper-color);
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    margin: 0;
}

#nav-toggle {
    height: 4rem;
    width: 4rem;
    background-color: hsla(252, 63%, 19%, 0.9);
    backdrop-filter: blur(6px);
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    box-shadow: var(--nav-box-shadow);

    position:fixed;
    left: 0;
    top: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--nav-toggle-transition);
}

#nav-toggle path {
    transition: fill-opacity 0.3s;
}

#nav-toggle:hover path {
    fill-opacity: 0.3;
}

#nav-content {
    position:fixed;
    left: 0;
    top: 25%;

    padding: var(--main-padding);
    background-color: hsla(252, 63%, 19%, 0.9);
    backdrop-filter: blur(6px);
    border-bottom-right-radius: var(--main-border-radius);
    box-shadow: var(--nav-box-shadow);

    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 2rem;
}

#nav-content a {
    text-decoration: none;
    color: var(--highlight-color);
}

#nav-content a:hover {
    text-decoration: none;
    color: var(--analogous-color);
}

.current-site {
    font-weight: bolder;
    border-bottom: 2px var(--analogous-color) solid;
    border-radius: 4px;
}

.header-container {
    background-color: #0f0826;
    padding: var(--main-padding);
    color: var(--highlight-color);
}

header {
    max-width: var(--site-width);
    margin: auto;
}

.above-the-fold {
    background-color: var(--surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14rem 0 14rem 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button {
    background-color: var(--raised-color);
    width: 4rem;
    height: 2rem;
    border: var(--raised-color) solid 1px;
    border-radius: 0.5rem;
    transition: background-color 0.3s cubic-bezier(.35,1,.35,1);
}

.buttons button:hover {
    background-color: hsl(252, 63%, 16%);
    border: hsl(252, 63%, 16%);
}

.content {
    padding: var(--main-padding);
    max-width: var(--site-width);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img {
    display: block;
    border: var(--surface-color) 0.5rem outset;
    border-radius: 1rem;
}

b {
    color: var(--harsh-color);
}

.muted {
    color: var(--disabled-color);
}

.section {
    margin-top: 2rem;
    background-color: var(--surface-color);
    width: 100%;
    height: 3rem;   
    border-radius: 6rem;
    display: flex;
}

.section div {
    margin: 1rem;
    flex-basis: 100%;
    border-radius: 1rem;
    background-color: var(--raised-color);
}

.cards {
    background-color: var(--surface-color);
    padding: 6rem;

    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 2rem;
}

.card {
    background-color: var(--raised-color);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    flex-basis: 30%;
}

.card-image {
    background-image: url(Zebra-16_9.jpg);
    background-position: center;
    background-size: cover;
    height: 10rem;
    border-radius: var(--child-border-radius);
    border: 3px var(--surface-color) solid;
    box-sizing: content-box;

    display: flex;
    align-items: flex-end;
}

.card-image div {
    background-color: var(--disabled-color);
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: smaller;
    font-weight: lighter;

    transition: 0.3s;
}

.card:nth-child(even) .card-image div {
    align-self: flex-start;
    margin-left: auto;
}

.card-image:hover {
    background-size: 101%;
}

.card-image:hover div {
    background-color: #ffffff1a;
    color: var(--deep-color);
    backdrop-filter: blur(2px);
}

.cards-information {
    flex: 1;
}

.horizontalls-container {
    display: flex;
    flex-flow: column nowrap;
}

.horizontall {
    max-width: var(--site-width);
    margin: auto;
    padding: var(--main-padding);
    margin-top: 2rem;
    border-radius: var(--main-border-radius);
    
    display: flex;
}

.horizontall:nth-child(even) {
    background-color: var(--raised-color);
}

.horizontall-content {
    flex-basis: 50%;
    padding: 0 var(--main-padding) var(--main-padding) var(--main-padding);
}

.horizontall:nth-child(even) .horizontall-content {
    order: 1;
}

.horizontall-image-container {
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.horizontall-image {
    width: 100%;
    height: 100%;
    border-radius: var(--child-border-radius);
    background-color: var(--analogous-color);
    margin-right: 10%;

    background-image: url(Zebra-16_9.jpg);
    background-position: center;
    background-size: contain;
}

footer {
    display: flex;
    justify-content: space-between;
}

.motto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}

.legal {
    display: flex;
    gap: 2rem;
    margin: 2rem 2rem 2rem 0;
    
}