* {
    box-sizing: border-box;
}

:root {
    --site-width: 60rem;
    --deep-color: #0A0227;
    --surface-color: #160b36;
    --raised-color: #1E1250;
    --disabled-color: #5B6899;
    --analogous-color: #A6B1E1;
    --highlight-color: #DCE1F5;
    --whisper-color: #ECEFFE;
    --harsh-color: #E63946;
    --main-padding: 1rem;
    --main-font: "Nunito", sans-serif;
    --main-font-weight: 600;
    --nav-border-radius: 0.7rem;
    --nav-box-shadow: 17px 10px 20px 0px rgba(0, 0, 0, 0.1);
    --nav-toggle-transition: left 0.3s cubic-bezier(.35,1,.35,1);
}   

body {
    color-scheme: dark;
    background-color: var(--deep-color);
    color: var(--whisper-color);
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    margin: 0;
}

#nav-toggle {
    height: 4rem;
    width: 4rem;
    background-color: var(--raised-color);
    border-top-right-radius: var(--nav-border-radius);
    border-bottom-right-radius: var(--nav-border-radius);
    box-shadow: var(--nav-box-shadow);

    position:fixed;
    left: 0;
    top: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--nav-toggle-transition);
}

#nav-toggle path {
    transition: fill-opacity 0.3s;
}

#nav-toggle:hover path {
    fill-opacity: 0.3;
}

#nav-content {
    position:fixed;
    left: 0;
    top: 25%;

    padding: var(--main-padding);
    background-color: var(--raised-color);
    border-bottom-right-radius: var(--nav-border-radius);
    box-shadow: var(--nav-box-shadow);

    display: none;
    flex-flow: column nowrap;
    gap: 2rem;
}

.header-container {
    background-color: #0f0826;
    padding: var(--main-padding);
    color: var(--highlight-color);
}

header {
    max-width: var(--site-width);
    margin: auto;
}

.above-the-fold {
    background-color: var(--surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14rem 0 14rem 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button {
    background-color: var(--raised-color);
    width: 4rem;
    height: 2rem;
    border: var(--raised-color) solid 1px;
    border-radius: 0.5rem;
    transition: background-color 0.3s cubic-bezier(.35,1,.35,1);
}

.buttons button:hover {
    background-color: hsl(252, 63%, 16%);
    border: hsl(252, 63%, 16%);
}

main {
    padding: var(--main-padding);
    max-width: var(--site-width);
    margin: auto;
}

img {
    display: block;
    border: var(--surface-color) 0.5rem outset;
    border-radius: 1rem;
}

b {
    color: var(--harsh-color);
}

.muted {
    color: var(--disabled-color);
}

.section {
    margin-top: 2rem;
    background-color: var(--surface-color);
    width: 100%;
    height: 3rem;   
    border-radius: 6rem;
    display: flex;
}

.section div {
    margin: 1rem;
    flex-basis: 100%;
    border-radius: 1rem;
    background-color: var(--raised-color);
}